@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Noto+Sans+KR&display=swap");

.wrap {
  width: 100%;
  height: 100%;
  padding: 100px;
  background-color: rgb(240, 247, 207);
  font-family: "Noto Sans KR", sans-serif;
}

.back-page{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 50px;
}
.back-page a{
  display: block;
  width: 100px;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}


header {
  width: 100%;
  height: 150px;
  background-color: rgb(115, 160, 199);
  margin-bottom: 20px;
}
.contents-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.contents-wrap .box {
  width: 400px;
  height: 400px;
  background-color: rgb(202, 148, 77);
  margin-bottom: 30px;
}

.contents-wrap .box1 > img,
.contents-wrap .box2 > img,
.contents-wrap .box3 > img,
.contents-wrap .box4 > img,
.contents-wrap .box5 > img,
.contents-wrap .box6 > img,
.contents-wrap .box7 > img,
.contents-wrap .box8 > img,
.contents-wrap .box9 > img,
.contents-wrap .box10 > img,
.contents-wrap .box11 > img,
.contents-wrap .box12 > img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.box-bg::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/*배너 1번째 row*/
.contents-wrap .box1 .big-1,
.contents-wrap .box2 .big-2,
.contents-wrap .box3 .big-3,
.contents-wrap .box4 .big-4
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  object-fit: cover;
  background-image: url(../images/banner-1.jpg);
  background-size: cover;
  background-position: center;
  z-index: 100;
  display: none;
}
.contents-wrap .box2 .big-2{
  background-image: url(../images/banner-5.jpg);
}
.contents-wrap .box3 .big-3{
  background-image: url(../images/banner-3.jpg);
}
.contents-wrap .box4 .big-4{
  background-image: url(../images/banner-4.jpg);
}
/*배너 2번째 row*/
.contents-wrap .box5 .big-5,
.contents-wrap .box6 .big-6,
.contents-wrap .box7 .big-7,
.contents-wrap .box8 .big-8,
.contents-wrap .box9 .big-9
{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  width: 700px;
  height: 700px;
  object-fit: cover;
  background-image: url(../images/banner-2.jpg);
  background-size: cover;
  background-position: center;
  z-index: 100;
  display: none;
}
.contents-wrap .box6 .big-6{
  background-image: url(../images/banner-6.jpg);
}
.contents-wrap .box7 .big-7{
  background-image: url(../images/banner-7.jpg);
}
.contents-wrap .box8 .big-8{
  background-image: url(../images/banner-8.jpg);
}
.contents-wrap .box9 .big-9{
  background-image: url(../images/banner-9.jpg);
}

.contents-wrap .box1 .big-1 button,
.contents-wrap .box2 .big-2 button,
.contents-wrap .box3 .big-3 button,
.contents-wrap .box4 .big-4 button,
.contents-wrap .box5 .big-5 button,
.contents-wrap .box6 .big-6 button,
.contents-wrap .box7 .big-7 button,
.contents-wrap .box8 .big-8 button,
.contents-wrap .box9 .big-9 button
{
  float: right;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-top: 20px;
  border: 3px solid #fe8d02;
  background-color: transparent;
}
.contents-wrap .box2 .big-2 button{
  border: 3px solid #565237;
}
.contents-wrap .box3 .big-3 button{
  border: 3px solid #1a1f26;
}
.contents-wrap .box4 .big-4 button{
  border: 3px solid #fff;
}
.contents-wrap .box5 .big-5 button{
  border: 3px solid #000000;
}
.contents-wrap .box6 .big-6 button{
  border: 3px solid #fff;
}
.contents-wrap .box7 .big-7 button{
  border: 3px solid #B2D8FF;
}
.contents-wrap .box8 .big-8 button{
  border: 3px solid #E9629C;
}
.contents-wrap .box9 .big-9 button{
  border: 3px solid #fff;
}

.contents-wrap .box1 .big-1 button i,
.contents-wrap .box2 .big-2 button i,
.contents-wrap .box3 .big-3 button i,
.contents-wrap .box4 .big-4 button i,
.contents-wrap .box5 .big-5 button i,
.contents-wrap .box6 .big-6 button i,
.contents-wrap .box7 .big-7 button i,
.contents-wrap .box8 .big-8 button i,
.contents-wrap .box9 .big-9 button i
{
  font-size: 30px;
  color: #fe8d02;
}
.contents-wrap .box2 .big-2 button i{
  color: #565237;
}
.contents-wrap .box3 .big-3 button i{
  color: #1a1f26;
}
.contents-wrap .box4 .big-4 button i{
  color: #fff;
}
.contents-wrap .box5 .big-5 button i{
  color: #000;
}
.contents-wrap .box6 .big-6 button i{
  color: #fff;
}
.contents-wrap .box7 .big-7 button i{
  color:#B2D8FF;
}
.contents-wrap .box8 .big-8 button i{
  color:#E9629C;
}
.contents-wrap .box9 .big-9 button i{
  color:#fff;
}
