html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-wrap {
  width: 100%;
  height: 100%;
  background-image: url(../images/main-bg.png);
  position: relative;
}

.bg-wrap .cloud{
  position: absolute;
  bottom: 0;
  width:100%;
  height: 400px;
}

.bg-wrap .table{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  height: 600px;
}

.bg-wrap .minicloud{
  position: absolute;
  right: 0;
  top: 0;
}

.bg-wrap .plant{
  height: 200px;
  position: absolute;
  bottom:0;
  left: 30%;
  transform: translateX(-30%);
}

.bg-wrap .box{
  height: 300px;
  position: absolute;
  bottom: -10%;
  right: 20%;
}


.bg-wrap .album {
  position: absolute;
  display: flex;
  /* background-color: bisque; */
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}

.bg-wrap .textbox{
  height: 250px;
}

.bg-wrap .textbox:hover{
  transform: scale(1.5);
}

.bg-wrap .album .textbox1{
  animation:folder 1500ms;
  position: relative;
}
.bg-wrap .album .textbox1 img:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.bg-wrap .album .textbox2 .img2-b,
.bg-wrap .album .textbox3 .img3-b,
.bg-wrap .album .textbox4 .img4-b,
.bg-wrap .album .textbox5 .img5-b{
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.bg-wrap .album .textbox2{
  animation:folder 2000ms;
  position: relative;
}
.bg-wrap .album .textbox3{
  animation:folder 2500ms;
  position: relative;
}
.bg-wrap .album .textbox4{
  animation:folder 3000ms;
  position: relative;
}
.bg-wrap .album .textbox5{
  animation:folder 3500ms;
  position: relative;
}
@keyframes folder{
  from{
  transform:translateY(-100%);
  }
  to{
  transform:translateY(0%);
  }
}



